.advantages {
  text-align: center;
}

.advantages__title {
  .title();
  color: @white;
  margin: 0;
}

.advantages__description {
  .advantages-description();
  margin: 15px 20px;
}

.advantages--first{
  text-align: center;
  background-image: url(/img/bg-triangle.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 58px 0 10px;
}

.advantages__number {
  .advantages-description();
  margin-top: 10px;
}

.advantages__list {
  .list-reset();
  box-sizing: border-box;
}

.advantages__wrapper {
  background-color: rgba(130, 179, 211, 0.85);
  height: 153px;
}

.icon-house {
  fill: #81b3d2;
  width: 40px;
}

.advantages__icon {
  flex-basis: 90%;
}

.advantages__list-title {
  display: inherit;
  flex-basis: 55%;
  .header-reset();
  .uppercase();
  .line-height-title();
  font-size: 18px;
  width: 70%;
  align-items: center;
}

.advantages__list-item {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  flex-flow: column wrap;
  height: 165px;
  box-sizing: border-box;
  .uppercase();
}

.advantages__list-description {
  display: inherit;
  padding: 0;
  margin: 0;
  width: 70%;
}
