.advantages {
  text-align: center;
  padding: 0 25px;
}

.advantages__title {
  .title();
  color: @white;
  margin: 0;
}

.advantages__description {
  .advantages-description();
  margin: 0;
}

.advantages--first{
  text-align: center;
  padding: 0 25px;
  background-image: url(/img/bg-triangle.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.advantages__number {
  .advantages-description();
}

.advantages__list {
  .list-reset();
}
