.gallery-photo__pict {
    width: 100%;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box;

  @media @tablets {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 0;
  }
}
.gallery-photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: @black;
  min-height: 414px;
  border-bottom: 1px solid #e5e5e5;

  @media @tablets {
    background-color: #f2f2f2;
    flex-basis: 50%;
    justify-content: stretch;
    align-items: stretch;
    min-height: 345px;
    border: none;

    &--wide {
      width: 648px;
      margin: 50px auto 0;
      flex-basis: 100%;
    }
  }
}
.gallery-photo {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 15px 0;

  &__caption {
    font-weight: 600;
    text-transform: uppercase;

    @media @tablets {
      margin-top: 8px;
      padding: 0;
    }
  }

  &__author {

      @media @tablets {
        margin: 0;
      }
  }

  &__likes {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    @media @tablets {
      margin-top: 5px;
      margin: 10px 10px 0 0;

      &--wide {
        margin: 12px 0 0 0;
      }
    }
  }

  &__likes-count {
    .uppercase();
    font-weight: 600;
    margin: 0 15px;

    @media @tablets {
      margin: 0 0 0 10px;
    }
  }

  @media @tablets {
    padding: initial;
    height: auto;
  }
}

.gallery-photo__caption-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 88%;
  box-sizing: border-box;

  @media @tablets {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;

    &--wide {
      margin-bottom: 18px;
    }
  }
}

.gallery {

  @media @tablets {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 650px;
    margin: 0 auto;
  }
}
