.page-header__title {
  position: relative;
  text-align: center;

  &--main {
    min-height: 610px;
    height: 610px;
    background: url(/img/bg-intro-triangle-mobile.svg), url(/img/text-sedona-index.svg), url(/img/bg-back-tablet@1x.jpg);
    background-color: @white;
    background-size: 104%, 88%, 180%;
    background-position: center 362px, center 90px, center 0;
    background-repeat: no-repeat;

      @media @tablets {
        background-size: 100%, 60%, 100%;
        background-position: center 462px, center 77px, center 0;
        background-image: url(/img/tablet-triangle.png), url(/img/text-sedona-index.svg), url(/img/bg-back-tablet@1x.jpg);
      }
  }

  &--photo {
    min-height: 347px;
    background: url(/img/bg-intro-triangle-mobile.svg), url(/img/text-sedona.svg), url(/img/bg-back-tablet@1x.jpg);
    background-color: #ffffff;
    background-size: 104% 27px, 72% 41px, 100% 291px;
    background-position: center 131px, center 51px, center -133px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #e5e5e5;
  }
}

.page-header__title-text {

  &--main {
    .absolute();
    bottom: 60px;
    padding: 30px;
    .title();
    font-weight: bold;
    .uppercase();

    @media @tablets {
      font-size: 21px;
      line-height: 26px;
    }
  }

  &--photo {
    position: absolute;
    top: 53%;
    left: 31%;
    .title();
    .uppercase();
  }
}

.page-header__title-advantages {
  .subtitle();
  .uppercase();
  .absolute();
  bottom: 25px;
  padding: 0 35px;

  &--photo {
    bottom: 28px;
    padding: 0 25px;
    line-height: 24px;
  }
}

.page-header__review-wrapper {
  min-height: 210px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
}

.page-header__review {
  min-height: 360px;
  padding: 0 20px;
  .uppercase();
  text-align: center;
  position: relative;
  background: url(/img/bg-intro-triangle-mobile.svg), url(/img/text-sedona.svg), url(/img/bg-back-tablet@1x.jpg);
  background-color: #ffffff;
  background-size: 104% 27px, 72% 41px, 100% 291px;
  background-position: center 131px, center 51px, center -133px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #e5e5e5;

  &-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin: 40px 0 0;
    padding: 5px;
  }

  &-text {
    font-size: 14px;
    line-height: 24px;
    margin-top: 22px;
  }
}
