.page-header__title {
  position: relative;
  min-height: 610px;
  height: 610px;
  background: url(/img/bg-intro-triangle-tablet.svg), url(/img/bg-back-tablet@1x.jpg);
  background-color: @white;
  background-size: 115%, 180%;
  background-position: center 362px, center 0;
  background-repeat: no-repeat;
  text-align: center;
}

.page-header__title-text {
  position: absolute;
  bottom: 60px;
  padding: 30px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-header__title-advantages {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  position: absolute;
  bottom: 25px;
  padding: 0 35px;
}
