.page-footer {
  margin: 35px 5px;
}
.page-footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}

.page-footer__socials-link {
  display: block;
  font-size: 0;
  background-color: #81b3d2;
  min-height: 47px;
  width: 47px;
  margin: 0 3px;
}

.page-footer__copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  margin: 15px;
  min-height: 55px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  &-link {
    font-size: 0;
    height: 40px;
    width: 40px;
  }
}
