.page-header__title {
  position: relative;
  text-align: center;

  &--main {
    min-height: 610px;
    height: 610px;
    background-color: @white;
    background-size: 88%, 180%;

      @media @tablets {
        height: 725px;
        max-width: 768px;
        margin: 0 auto;
      }
      @media @desktop {
        max-width: 1200px;
      }
}

  &--photo {
    border-bottom: 1px solid #e5e5e5;
  }
}

.page-header__false-wrapper {
    min-height: 388px;
    &--review {
      min-height: 360px;
    }

    @media @tablets {
      min-height: 525px;
    }
    @media @desktop {
      min-height: 560px;
    }
    &--index {
      background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
      background-size: 104%, 88%, 180%;
      background-position: bottom, center 90px, center 0;
      background-repeat: no-repeat;

      @media @tablets {
        min-height: 518px;
        background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
        background-size: 100%, 60%, 180%;
        background-position: bottom, center 78px, center 0;
      }

      @media @desktop {
        background-size: 100%, 38%, 100%;
        background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
      }
    }

    &--photo {
      min-height: 158px;
      background: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");
      background-color: #ffffff;
      background-size: 104% 27px, 72% 41px, 100% 291px;
      background-position: center 131px, center 51px, center -133px;
      background-repeat: no-repeat;

      @media @tablets {
        min-height: 290px;
        background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");
        background-size: 100%, 60%, 100%;
        background-position: bottom, 50% 45%, center 100%;
      }

      @media @desktop {
        min-height: 300px;
        background-image: url("../img/desktop-triangle.png"), url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");
        background-size: 100%, 38%, 100%;
        background-position: center 100%, 50% 46%, center 100%;
      }
    }
}

.page-header__title-wrapper {
  background-color: @white;
}

.page-header__title-text {

  &--main {
    padding: 20px 30px;
    margin: 0;
    margin-top: 20px;
    .title();
    font-weight: bold;
    .uppercase();
    background-color: #fff;
    min-height: 80px;

    @media @tablets {
      font-size: 21px;
      line-height: 26px;
      margin: 35px 100px 0px 100px;
      padding: 15px 25px;
      min-height: inherit;
    }

    @media @desktop {
      max-width: 450px;
      margin: 35px auto 0;
    }
  }

  &--photo {
    .title();
    .uppercase();
    margin: 0;
    padding: 15px 30px;
    margin-top: 23px;

    @media @tablets {
      font-size: 30px;
      font-weight: 600;
      margin-top: 60px;
    }

    @media @desktop {
      margin-top: 95px;
    }
  }
}

.page-header__title-advantages {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 0px 30px;
  margin-top: 5px;

  &--photo {
    padding: 0 25px;
    line-height: 24px;
    margin: 10px 0 28px 0;
  }

  @media @tablets {
    margin: 0 auto;
    padding: 15px 25px;
    width: 58%;
  }

  @media @desktop {
    padding: 18px 25px;
    width: 36%;
  }
}

.page-header__review-wrapper {
  min-height: 210px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;

  @media @desktop {
    background-color: @white;
    min-height: 260px;
  }
}

.page-header__review {
  min-height: 360px;
  padding: 0 20px;
  .uppercase();
  text-align: center;
  position: relative;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");
  background-color: #ffffff;
  background-size: 104% 27px, 72% 41px, 100% 291px;
  background-position: center 131px, center 51px, center -133px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #e5e5e5;

  @media @tablets {
    background-image: url("../img/tablet-triangle.png"), url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-color: #ffffff;
    background-size: 100%, 60%, 100%;
    background-position: center 233px, center 95px, center -228px;
    max-width: 729px;
    margin: 0 auto;
  }

  @media @desktop {
    background-image: url("../img/desktop-triangle.png"), url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-color: #ffffff;
    background-size: 100%, 38%, 100%;
    background-position: center 245px, center 100px, center -228px;
    max-width: 100%;
  }

  &-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin: 40px 0 0;
    padding: 5px;

    @media @tablets {
      font-size: 30px;
      margin: 45px 0 0;
    }

    @media @desktop {
      margin: 108px 0 0;
    }
  }

  &-text {
    font-size: 14px;
    line-height: 24px;
    margin-top: 22px;

    @media @tablets {
      max-width: 440px;
      margin: 25px auto 0;
    }
  }
}

.page-header__wraper {
  @media @tablets {
    width: 70%;
  }
}

.page-header {
  @media @desktop {
    max-width: 1200px;
    margin: 0 auto;
  }
}
