.page-footer {
  margin: 15px 5px;

  @media @tablets {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }
}

.page-footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 35px auto 15px;

  @media @tablets {
    margin: 0;
  }
}

.page-footer__socials-link {
  display: block;
  font-size: 0;
  background-color: #81b3d2;
  min-height: 46px;
  width: 46px;
  margin: 0 3px;
}

.page-footer__copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 34px 40px;

  @media @tablets {
    margin: 0;
  }

  &-link {
    font-size: 0;
    height: 35px;
    width: 35px;
    padding-left: 12px;
  }
}


.page-footer__tag {
  .line-height-title();
  .uppercase();
  font-size: 21px;
  text-align: center;
  font-weight: 600;
}
