.review__group {
  border: none;
  min-height: 290px;
}

.review__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  .uppercase();
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0;
  text-align: center;

  &--label {
    display: block;
    padding: 0;
    margin: 20px 0 0 40px;
    text-align: left;
    font-size: 14px;
  }
}

.review__prop {
  font-size: 14px;
  line-height: 26px;
  .uppercase();
  width: 20%;
  align-self: center;
  padding: 10px 15px 0 5px;
  flex-basis: 10%;
}

.review__input-data {
  padding: 20px;
  margin: 15px 0 5px 5px;
  box-sizing: border-box;
  width: auto;
  background-color: #f2f2f2;
  border: none;
  flex-basis: 50%;
  &--tel {
    margin: 5px 0 0 20px;
  }
}

.review__input-data::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #000000;
}

.review__prop-wrapper {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: flex-start;

  &--radio, &--checkbox {
    flex-flow: column wrap;
  }
}

.review__check-button {
  display: none;
}

.review__prop--circle::before {
  content: "";
  height: 17px;
  width: 17px;
  background-color: #ddd;
  border-radius: 50%;
  padding: 9px;
  margin: -10px 22px 10px 0;
  flex-shrink: 0;
}

.review__prop--circle {
  width: 70%;
}
.review__prop {
  display: flex;
  flex-direction: row;
  line-height: 18px;
  cursor: pointer;
  margin: 20px 0 0;
}
.review__check-button:checked+.review__prop--circle::before {
  background-color: #333333;
  background-clip: content-box;
}
