.review__group {
  border: none;
}

.review__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  .uppercase();
}

.review__prop {
  font-size: 14px;
  line-height: 26px;
  .uppercase();
}
