.search-form {
  min-height: 290px;
}

.search-form__title {
  .header-reset();
  .line-height-title();
  font-size: 21px;
  text-align: center;
  padding-top: 30px;
}

.search-form__description {
  text-transform: uppercase;
  line-height: 24px;
  font-size: 14px;
  margin: 0;
  padding: 19px 25px 0 25px;
  text-align: center;
}

.search-form__link-wrapper {
  padding: 15px;
  background-color: #81b3d2;
  text-align: center;
  width: 78%;
  margin: 35px auto;
}

.search-form__link {
  .uppercase();
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: @white;
}
