.search-form {
  min-height: 290px;
  margin-bottom: 15px;

  &__title {
    .header-reset();
    .line-height-title();
    .uppercase();
    font-size: 21px;
    text-align: center;
    padding-top: 30px;

    @media @tablets {
      font-size: 30px;
      margin-top: 25px;
    }
  }
}

.search-form__description {
  text-transform: uppercase;
  line-height: 24px;
  font-size: 14px;
  margin: 0;
  padding: 19px 25px 0 25px;
  text-align: center;

  @media @tablets {
    width: 60%;
    margin: 12px auto 0;
  }
}

.search-form__link-wrapper {
  padding: 15px;
  background-color: #81b3d2;
  text-align: center;
  width: 250px;
  margin: 35px auto 48px;

  @media @tablets {
    width: 428px;
    margin: 43px auto 60px;
  }
}

.search-form__link {
  .uppercase();
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: @white;
}

.search-form__map-frame {
  height: 370px;
  width: 100%;

  @media @tablets {
    height: 350px;
  }
}
